RewriteEngine On

# Rediriger toutes les requêtes non résolues vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

<FilesMatch "\.(css|js|png|jpg|jpeg|gif)$">
    SetHandler None
</FilesMatch>
